@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes shimmer {
  0% {
    left: -100px;
  }
  100% {
    left: calc(100% + 100px);
  }
}

/* For RTL languages */
[dir="rtl"] {
  direction: rtl;
  unicode-bidi: embed;
}

[dir="rtl"] .rtl-scroll {
  direction: rtl;
  overflow-y: auto;
}

[dir="rtl"] .rtl-scroll > * {
  direction: ltr;
}

html[dir="rtl"] {
  direction: rtl;
}

html[dir="rtl"] body {
  direction: rtl;
  text-align: right;
}